@model IEnumerable<Book_Apartment_MVC.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a class="btn btn-success btn-xl" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfWeeks)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Apartment.ChargePerWeek)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TotalCharge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Renter.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWeeks)
            </td>

            <th>
                @Html.DisplayFor(model => item.Apartment.ChargePerWeek)
            </th>

            <th>
                @Html.DisplayFor(model => item.TotalCharge)
            </th>
            <td>
                <a class="btn btn-success btn-xl" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-success btn-xl" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-success btn-xl" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
